# Managed by ansible

version: 0.1
log:
  fields:
    service: registry
storage:
{% if docker_registry_storage_driver == "filesystem" %}
  filesystem:
    rootdirectory: {{ docker_registry_filesystem_rootdirectory }}
{% endif %}
{% if docker_registry_storage_driver == "swift" %}
  swift:
    username: {{ docker_registry_swift_username }}
    password: {{ docker_registry_swift_password }}
    authurl: {{ docker_registry_swift_authurl }}
    tenant: {{ docker_registry_swift_tenant }}
{% if docker_registry_swift_tenantid != "" %}
    tenantid: {{ docker_registry_swift_tenantid }}
{% endif %}
    container: {{ docker_registry_swift_container }}
{% if docker_registry_swift_domain != "" %}
    domain: {{ docker_registry_swift_domain }}
{% endif %}
{% if docker_registry_swift_domainid != "" %}
    domainid: {{ docker_registry_swift_domainid }}
{% endif %}
    insecureskipverify: {{ docker_registry_swift_insecureskipverify }}
{% if docker_registry_swift_region != "" %}
    region: {{ docker_registry_swift_region }}
{% endif %}
    rootdirectory: {{ docker_registry_swift_rootdirectory }}
{% endif %}
http:
  addr: :{{ docker_registry_http_port }}
{% if docker_registry_http_host != "" %}
  host: {{ docker_registry_http_host }}:{{ docker_registry_http_port }}
{% endif %}
{% if docker_registry_http_secret != "" %}
  secret: {{ docker_registry_http_secret }}
{% endif %}
{% if docker_registry_http_tls_certificate != "" and docker_registry_http_tls_key != "" %}
  tls:
    certificate: {{ docker_registry_http_tls_certificate }}
    key: {{ docker_registry_http_tls_key }}
{% endif %}
{% if docker_registry_auth_htpasswd_path != "" %}
auth:
  htpasswd:
    realm: basic-realm
    path: {{ docker_registry_auth_htpasswd_path }}
{% endif %}
